<template>
   <div class="posts">
      <section class="post" v-for="post in posts">
         <div v-on:click="$router.push('./post/' + post._id)">
               <h2>{{ post.title }}</h2>
         </div>
      </section>
   </div>
</template>

<script>
   import config from './config.js'
   export default {
      data() {
         return {
            posts: [],
            bodyHeight: 0,
            count: 0,
            page: 0
         }
      },
      methods: {
         scroll: function() {
            window.onscroll = () => {
               let bottomOfWindow =
                  document.documentElement.scrollTop + window.innerHeight ===
                  document.documentElement.offsetHeight
               let morePosts = this.posts.length != this.count

               if (bottomOfWindow && morePosts) this.loadChunk()
            }
         },
         loadChunk: function() {
            fetch(config.serverUrl + 'posts?page=' + this.page)
               .then(res => res.json(), err => console.log(err))
               .then(json => json.map(item => this.posts.push(item)), err => console.dir(err))
            this.page++
         }
      },
      created() {
         this.loadChunk()

         fetch(config.serverUrl + 'posts/count')
            .then(res => res.json(), err => console.dir(err))
            .then(json => this.count = json.count, err => console.dir(err))
      },
      updated() {
         this.bodyHeight = document.body.children[0].offsetHeight
         
         if ((this.bodyHeight < document.documentElement.offsetHeight) &&
            (this.posts.length != this.count)) this.loadChunk()

         this.scroll()
      }
   }
</script>

<style scoped>
   .post {
      transition: .25s;
      margin: 0 0 3px 0;
   }
   
   .post:hover {
      background-color: var(--secondary-color);
      cursor: pointer;
      transition: .25s;
      border-radius: 5px;
   }

   .posts {
      width: 100%;
   }
</style>
