<template>
   <div>
      <div class="title-container">
         <h2 class="title">New Content</h2>
         <button v-if="!changed && id" class="delete" v-on:click="handleClick">Delete</button>
         <button v-else v-on:click="handleClick">Save</button>
      </div>
      <form>
         <input type="text" v-model="title" placeholder="Title" class="post-title">
         <textarea
            type="text"
            v-model="content"
            placeholder="Text"
            rows="4"
            cols="50"
            class="post-content">
         </textarea>
         <input id="files" v-on:change="onChange" type="file" multiple="true" class="input">
      </form>
      <div class="collection" v-if="files.length > 0">
         <img
            v-for="(file, id) in files"
            v-if="files"
            :src=previewFile(file)
            class="item"
            v-on:click="() => handlePhotoClick(id)"
            alt="image preview"/>
      </div>
   </div>
</template>

<script>
   import config from './config.js'
   import showdown from 'showdown'
   
   const converter = new showdown.Converter()

   export default {
      data:() => {
         return {
            id: '',
            title: '',
            content: '',
            files: [],
            original: {},
            originalMedia: [],
            changed: false
         }
      },
      created() {
         if (this.$route.params.id) this.populate()
      },
      updated() {
         if (this.original.title !== this.title ||
         converter.makeMarkdown(this.original.content).trim() !== this.content ||
         JSON.stringify(this.originalMedia) != JSON.stringify(this.files)) {
            this.changed = true
         } else this.changed = false
      },
      methods: {
         async handleClick() {
            if (await fetch(config.serverUrl + 'auth', {credentials: 'include'})
               .then(res => res.status == 200)) {
               if (!this.changed) this.deletePost()
               else this.postBlog()
               files = []
            }
         },
         
         postBlog() {
            let formData = new FormData()
            this.files.filter(file => typeof file == 'object')
              .map(file => formData.append('photos', file))
            this.files.filter(file => typeof file == 'string')
               .map(media => formData.append('media', media))
            formData.append('title', this.title)
            formData.append('content', this.content)

            const nature = this.id ?
                           'edit/' + this.id :
                           'posts'
            
            fetch(config.serverUrl + nature, {
               method: 'POST',
               body: formData
            })
            .then(console.dir)
            .catch(console.dir)
         },

         deletePost() {
            fetch(config.serverUrl + 'delete', {
               method: 'POST',
               headers: {'Content-Type': 'application/json'},
               body: JSON.stringify({'_id': [this.id]})
            })
            .then(console.dir)
            .catch(console.di)
         },
         
         previewFile(file) {
            return typeof file === 'string' ?
            config.serverUrl + 'media/' + file :
            URL.createObjectURL(file)
         },
         
         handlePhotoClick(id) {
            this.files.splice(id, 1)
         },
         
         onChange(event) {
            [...event.target.files].map(file => this.files.push(file))
         },

         populate() {
            fetch(config.serverUrl + 'post/' + this.$route.params.id)
               .then(res => res.json())
               .then(array => array.pop())
               .then(json => {
                  this.id = json._id
                  this.title = json.title
                  this.content = converter.makeMarkdown(json.content).trim()
                  this.files = json.media
                  this.original = json
                  this.originalMedia = [...json.media]
            })
         },
      }
   }
</script>

<style scoped>
   input {
      padding: 0px;
   }
   
   .collection-container {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin: 0 0 5px 0;
   }

   .collection {
      display: flex;
      align-items: center;
      border: dashed 1px gray;
      border-radius: 5px;
      height: auto;
      width: 100%;
      flex-wrap: wrap;
      align-content: center;
      justify-content: space-around
   }
   
   .collection.dropped {
      width: 80%;
      height: auto;
   }

   .delete {
      background-color: #E9B7B7;
   }

   .item {
      flex-basis: 15em;
      flex-grow: 1;
      margin: 1.5em;
      border-radius: 1em;
   }

   .item:hover {
      opacity: .8;
   }
   
   .textarea {
      width: 100%
   }
   
   .post-title, .post-content {
      border: none;
      border-radius: .5em;
      font-size: 1.2em;
      background-color: var(--secondary-color);
      margin: 0 0 .7em 0;
      padding: .375em;
      width: 100%;
   }
   </style>
