<template>
   <div class="post">
      <div class="title-container">
         <h2 class="title">{{ title }}</h2>
         <div class="button-container">
            <button v-if="isAdmin" class="edit" v-on:click="$router.push('/edit/' + _id)">Edit</button>
         </div>
      </div>
      <div class="content" v-html="content">{{ content }}</div>
      <div class="collection" v-if="media.length > 0"> <img
            v-for="uri in media"
            v-if="media"
            :src="config.serverUrl + 'media/' + uri"
            class="item"
            alt="image"/>
      </div>
   </div>
</template>

<script>
   import config from './config.js'
   import cookie from 'cookie'
   export default {
      data() {
         return {
            _id: {},
            title: {},
            content: {},
            isAdmin: cookie.parse(document.cookie).isAdmin,
            media: [],
            config: config
         }
      },
      created() {
         fetch(config.serverUrl + 'post/' + this.$route.params.id)
            .then(res => res.json())
            .then(array => array.pop())
            .then(json => {
               this._id = json._id
               this.title = json.title
               this.content = json.content
               this.media = json.media
            })
            .catch(console.dir)
      }
   }
</script>

<style>
   .collection {
      width: 100%;
      margin: 0 0 1em 0;
   }

   img, .content {
      margin: 0 0 2em 0;
   }

   img, .item {
      width: 100vw;
      margin-top: .06em;
      margin-bottom: .06em;
      border-radius: 1em;
   }


   @media screen and (max-width: 749px) {
      img, .item {
         position: relative;
         left: 50%;
         margin-left: -50vw;
      }
   }
   
   @media screen and (min-width: 750px) {
      img, .item {
         width: 100%;
      }
   }
   
</style>
